@font-face {
    font-family: "MontSerrat";
    src: url(../../static/Montserrat-Regular.ttf);
}

body{
    margin: 0;
    color: white;
    background-image: url("https://i.pinimg.com/originals/69/3b/b8/693bb8db1380f20f196c83bccbc16aab.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: "MontSerrat", sans-serif;
}

header{
    margin: 0;
    display: block;
    width: 100%;
    height: 50px;
}

.inner_header{
    display: block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.logo_container{
    margin: 0 auto;
    display: table;
    height: 100%;
}

.inner_body{
    width: 1000px;
    height: 100%;
    background-color: black;
    margin: 0 auto;
}