<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="//bootstrap-extension.com/bootstrap-extension-5.0.0/css/bootstrap-extension.min.css" type="text/css">
    <script src="//bootstrap-extension.com/bootstrap-extension-5.0.0/js/bootstrap-extension.min.js"></script>
    <link rel="stylesheet" href="/static/Montserrat-Regular.ttf">
    <script src="../static/loadJson.js"></script>
    <title>My Movie Database</title>
</head>
<body>
    <div class="inner">
        <div class="logo_container">
            <img src="../static/MovieScreen.jpg" class="decoration_pic_left" alt="movie theatre image">
            <img src="../static/MovieScreen.jpg" class="decoration_pic_right" alt="movie theatre image">
            <br><h1><TT>Movies Database</TT></h1>
        </div>
        <hr class="under_logo">


        <div class="intro">
            <img src="../static/ClassicMovieStars.jpg" alt="collage of classic movie stars" class="poster">
            <div class="description">
                <p>Welcome to my Movies Database!</p>
                <p>Below is a list of movies created and released from the early 1900's to 2018! There is also relevant
                information about each movie such as cast and genre!</p>
                <p>Enjoy!</p>
            </div>
        </div>

        <table id="movieTable" class="movie_table">

        </table>

        <button id="firstButton" class="initial_button" onclick="showMovies({{ MOVIES }})">View Recent Movies</button>

        <div class="filler">
            <img src="../static/casablanca.jpg" alt="casablanca poster" style="float:left;height:100%;width:30%;">
            <img src="../static/godfather.jpg" alt="godfather poster" style="float:left;height:100%;width:30%;
            padding-left:0.5%;padding-right:0.5%;">
            <img src="https://cdn.shopify.com/s/files/1/1057/4964/products/pulp-fiction-vintage-movie-poster-original-british-quad-30x40-6013_grande.jpg?v=1626843654"
                 alt="pulp fiction" style="float:left;height:100%;width:39%;">
        </div>
    </div>
</body>
</html>