<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="//bootstrap-extension.com/bootstrap-extension-5.0.0/css/bootstrap-extension.min.css" type="text/css">
    <script src="//bootstrap-extension.com/bootstrap-extension-5.0.0/js/bootstrap-extension.min.js"></script>
    <link rel="stylesheet" href="/static/Montserrat-Regular.ttf">
    <title>My Movie Database</title>
</head>
<body>
    <div class="inner">
        <div class="logo_container">
            <img src="../static/MovieScreen.jpg" class="decoration_pic_left">
            <img src="../static/MovieScreen.jpg" class="decoration_pic_right">
            <br><h1><TT>Movie Database</TT></h1>
        </div>
        <hr class="under_logo">
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
        <p>dummy</p><br>
    </div>
</body>
</html>