<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="//bootstrap-extension.com/bootstrap-extension-5.0.0/css/bootstrap-extension.min.css" type="text/css">
    <script src="//bootstrap-extension.com/bootstrap-extension-5.0.0/js/bootstrap-extension.min.js"></script>
    <link rel="stylesheet" href="/static/Montserrat-Regular.ttf">
    <title>My Movie Database</title>
</head>
<body>
    <header>
        <div class="inner_header">
            <div class="logo_container">
                <h1>My Movie Database</h1>
            </div>
        </div>
    </header>
    <div class="inner_body">

    </div>
</body>
</html>